html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

.frame {
    text-align: center;
    padding: 20px;
    border: 5px solid black;
}

.frame_footer {
    display: flex;
    justify-content: space-evenly;
}

